.sidenav---sidenav---_2tBP {
    background: #4051b5;
    padding: 10px;
}

.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-:hover
    > .sidenav---navitem---9uL5T::after {
    background: #5365d0;
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
}
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u.sidenav---expanded---1KdUL
    > .sidenav---navitem---9uL5T::after,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-:hover.sidenav---highlighted---oUx9u.sidenav---expanded---1KdUL
    > .sidenav---navitem---9uL5T::after {
    background: #4051b5;
    padding: 20px;
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
}

.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u.sidenav---selected---1EK3y.sidenav---expanded---1KdUL
    > .sidenav---navitem---9uL5T::after,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-:hover.sidenav---highlighted---oUx9u.sidenav---selected---1EK3y.sidenav---expanded---1KdUL
    > .sidenav---navitem---9uL5T::after {
    background: #ffffff;
    padding: 20px;
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=1);
}
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-:hover
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo {
    opacity: 1;
    color: #4051b5;
    -ms-filter: none;
    filter: none;
}

body {
    background-color: #e8eaf6;
}

.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-:hover
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-:hover
    > .sidenav---navitem---9uL5T
    .sidenav---navtext---1AE_f,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
    > .sidenav---navitem---9uL5T
    .sidenav---navtext---1AE_f {
    color: #ffffff;
}
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-:hover
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo
    > *,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-:hover
    > .sidenav---navitem---9uL5T
    .sidenav---navtext---1AE_f
    > *,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo
    > *,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
    > .sidenav---navitem---9uL5T
    .sidenav---navtext---1AE_f
    > * {
    color: #ffffff;
}

.sidenav---sidenav-nav---3tvij {
    float: left;
    padding: 0;
    margin: 0;
    clear: both;
    list-style: none;
    width: 100%;
}

.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T {
    position: relative;
    display: block;
    line-height: 50px;
    height: 50px;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T::after {
    content: '';
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: none;
    z-index: -1;
    border-radius: 10px;
}

.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navtext---1AE_f {
    color: #ffffff;
}
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo
    > *,
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navtext---1AE_f
    > * {
    color: #9ea9ec;
}

.sidenav---sidenav-subnav---1EN61
    > .sidenav---sidenav-subnavitem---1cD47
    > .sidenav---navitem---9uL5T {
    display: block;
    text-decoration: none;
    color: #5365d0;
    font-size: 13px;
    line-height: 30px;
    padding: 0 24px;
    cursor: pointer;
    border-radius: 10px;
}
.sidenav---sidenav-nav---3tvij
    > .sidenav---sidenav-navitem---uwIJ-
    > .sidenav---navitem---9uL5T
    .sidenav---navicon---3gCRo {
    display: block;
    float: left;
    width: 64px;
    height: 50px;
    margin-right: -6px;
    vertical-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
    filter: none;
    line-height: 60px;
    text-align: center;
}
