// Color Pallete

$blue: #007bff;
$blue-light: #007bff10;
$blue-hover: #007bff30;
$blue-light-opaque: #eff7ff;
$blue-mid: #007bff99;
$pblue: #4c75f2;
$pblue-light: #4c75f210;
$pblue-hover: #4c75f230;
$pblue-light-opaque: #eff7ff;
$pblue-mid: #4c75f299;
$cherry: #ff073a;
$cherry-mid: #ff073a99;
$cherry-light: #ff073a20;
$cherry-hover: #ff073a30;
$cherry-light-opaque: #ffe0e6;
$red: #dc3545;
$red-light: #dc354520;
$red-mid: #dc354599;
$orange: #fd7e14;
$orange-mid: #fd7e1499;
$orange-light: #fd7e1420;
$orange-hover: #fd7e1430;
$orange-light-opaque: #ffefe2;
$yellow: #ffc107;
$yellow-light: #ffc10720;
$yellow-hover: #ffc10730;
$yellow-mid: #ffc10799;
$yellow-light-opaque: #fff7e0;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$light: #f8f9fa;
$dark: #343a40;
$purple: #201aa2dd;
$purple-light: #201aa220;
$purple-hover: #201aa230;
$purple-mid: #201aa299;
$purple-light-opaque: #e3e2f3;
$pink: #fb5581;
$pink-light: #ffa8cb30;
$pink-hover: #ffa8cb60;
$pink-mid: #fb558199;
$brown: #b6854d;
$brown-light: #b6854d10;
$brown-hover: #b6854d30;
$brown-mid: #b6854d99;
$brick: #e23028;

// Dark mode variables
$dark-m-gray: #161625;
$dark-mid-subtext: #bdb8ae;
$dark-m-white: #e1e1e1;
$dark-m-purple: #7ba1ea;
$dark-m-blue: #3391ff;


$indigo1: #4051B5;
$indigo2: #9EA9EC;
$indigo3 : #E8EAF6;
$indigo-content: #C5CAE9;


body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  background-color: $indigo3;
}

h1 {
  font-family: 'Cereal';
  font-size: 22px; 
  font-weight: 900;
  color: $indigo2;
}

h2 {
  font-family: 'Cereal';
  font-size: 18px !important;
  font-weight: 400;
}

h3 {
  font-family: 'Cereal';
  font-size: 14px !important;
  font-weight: 400;
}

h4 {
  font-family: 'Cereal';
  font-size: 13px !important;
  font-weight: 900;
}

h5 {
  font-family: 'Cereal';
  font-size: 12px !important;
  font-weight: 900;
}

h6 {
  font-family: 'Cereal';
  font-size: 11px !important;
  font-weight: 600;
}

.App {
  min-height: 100vh;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  transition: all .25s ease-in-out;
  width: 100%;
}

.arrow-up {
  border-bottom: 5px solid $indigo1;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: .25rem;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $indigo2;
  margin-left: .25rem;
}

.Navbar {
  display: flex;
  flex-direction: row;
  height: 10rem;
  justify-content: space-between;
  padding-bottom: 1rem;

  & > * {
    align-self: center;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .navbar-left {
    color: $indigo1;
    cursor: pointer;
    font-family: 'Cereal';
    font-size: 15px;
    font-weight: 600;
    padding-right: 0.5rem;
    padding: 0.5rem;
  }

  .navbar-middle {
    span{
      font-weight:600;
    }
    
    color: $indigo2;
    font-family: 'Cereal';
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    

    span {
      color: $indigo2;
    }
  }

  .navbar-right {
    color: $indigo2;
    cursor: pointer;
    font-family: 'Cereal';
    font-size: 40px;
    font-weight: 600;
    padding: 1.5rem;
    transition: all 0s ease-in-out;
    width: 2.5rem;
    border-right: 2px solid $indigo3;
    margin-right: -2px;

    &:hover {
      background: $indigo2;
      color: #fff;
      border-right: 2px solid $indigo3;
      margin-right: -2px;
    }
  }

  .expand {
    background: $indigo1;
    color: $indigo2;
    display: flex;
    flex-direction: column;
    font-family: 'Cereal';
    height: 100vh;
    position: absolute;
    transform: none;
    width: 100vw;
    z-index: 9999;

    

    

    & > * {
      border-bottom: 1px solid $indigo1;
      border-top: 1px solid $indigo1;
      padding:1.5rem;
      transition: all .15s ease-in-out;

      &:hover {
        background: #5160BC;
        border-radius: 15px;
        width: 55%;
        margin-left: 1vw;
      }

      span {
        &.focused {
          background: $indigo2;
          border-radius: 10px;
          color: $white;
          padding: .75rem;
        
          
        }
      }
    }

    .expand-bottom {
      align-self: flex-start;
      border: 0;

      &:hover {
        background: none;
      }
    }
    
    .expand-top{
        height:0;
        
        
    }
    .expand-top:hover{
        background: $indigo1;
    }

    
  }
}



@media (max-width: 769px) {

  .body{
    text-align: center;
  }
  .content-area{
    display: inline-block;
    width:90%;
    margin:1rem;
    margin-top: 6rem;;
  }

  .Navbar{
    height:3rem;
    background-color: $indigo1;
    .navbar-right{
      margin-right:0;
      color: $indigo2;
      background-color: $indigo1;
      height:1.75rem;
      border-right:none;
      z-index: 99999;
    }
    .navbar-middle{
      background-color: $indigo1;
      z-index: 9999999;
      h1{
        margin-top:2rem;
        margin-left: 30%;
        color: $indigo2;
        background-color: $indigo1;
        
      }
    }

    .filters {
    .fadeInUp{
      height:0;
      .legend{
        height:0;
      }
    }
  }
  }


  .expand {
    background: $indigo1;
    flex-direction: column;
    padding-left: 0;
    padding-top: 0rem;
    top: 0;
    width: 100vw;
    z-index: 9998 ;

    & > * {
      border-bottom: 1px solid $indigo1;
      border-top: 1px solid $indigo1;
      padding:0rem;
      transition: all .15s ease-in-out;

      &:hover {
        background: #5160BC;
        border-radius:5px;
        width: 20%;
        margin-left:0;
      }

      span {
        &.focused {
          background: $indigo2;
          border-radius: 10px;
          color: $white;
          padding: 0rem;
          width: 20%;
        
          
        }
      }
    }
  }

  


 
}

@media (max-width: 650px) {
  .news-card{
    align-items: center;
    align-content: center;
    padding:1rem;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    .news-img{
      border-radius:10px;
      display: inline-block;
      order: 1;
      height: 40%;
      max-width: 240px;
      max-height: 240px;
      height: auto;
    }
    .news-card-heading{
      height: 60%;
      order: 2;
      font-weight: 600;
      font-family: 'Cereal';
      color: $indigo1;
      h3{
        font-weight: 900;
      }
      .news-desc{
        font-size:0.8rem;
      }
      .news-link{
        font-size: 0.7rem;
        color:#4074c6;
      }
    }
  }

}

@media (min-width: 651px){
  .news-card{
    padding:1rem;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    .news-img{
      border-radius:10px;
      order: 1;
      width: 40%;
      max-width: 240px;
      max-height: 240px;
      height: auto;
    }
    .news-card-heading{
      width: 60%;
      order: 2;
      font-weight: 600;
      font-family: 'Cereal';
      color: $indigo1;
      h3{
        font-weight: 900;
      }
      .news-desc{
        font-size:0.8rem;
      }
      .news-link{
        font-size: 0.7rem;
        color:#4074c6;
      }
    }
  }

}


@media (min-width: 769px) {
  .Home,
  .State {
    padding-top: 5rem;
  }

  .Navbar {
    background: $indigo1;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    min-width: 5rem;
    position: fixed;
    z-index: 99999;


    .navbar-left {
      margin-top: auto;
      order: 3;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      transition: all .2s ease-in-out;
      width: 5rem;

      &:hover {
        background: $indigo1;
      }
    }

    .navbar-middle {
      font-size: .6rem;
      order: 1;
      padding-bottom: 2rem;
      padding-top: 2rem;
      text-align: center;
      width: 2.9rem;
      word-wrap: break-word;
    }

    .navbar-right {
      background: $indigo1;
      display: flex;
      flex-direction: column;
      order: 2;
      padding-bottom: 0;
      padding-top: 0;

      &:hover {
        background: $indigo1 !important;
      }

      & > span {
        display: flex;
        flex-direction: row;
        height: 2.2rem;
        justify-content: center;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        
        svg {
          stroke: $indigo2;
        }
      }
    }

    .expand {
      background: $indigo1;
      border-right: solid 2px ;
      flex-direction: column;
      padding-left: 0;
      padding-top: 5.5rem;
      top: 0;
      width: 15rem;
      z-index: -1 !important;

      & > * {
        border: 0;
        // padding: 1.59rem;
        border-left: 1px solid $indigo1;
        color: $indigo2;
        font-weight: 600;
        height: 2rem;
        width: 12rem;
        font-size: 1.25rem;
      }
    }
  }


  .filters {
    height: 4rem ;
    text-align: right;
    background: $indigo2 !important;
    color: $indigo1 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Cereal;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 101;
    align-content:right;
    padding-bottom: 1rem;
  
    h1{
      position: absolute;
      top:0.005rem;
      right: 5%;
      padding-bottom:0.5rem;
      align-self:right;
      color:$indigo1;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .content-area{
    margin-left: 8rem;
    margin-top: 6rem;
    margin-right: 3rem;
    margin-bottom: 10rem;
  }

  

}





   






// Animation Support

.fadeInUp {
  animation-duration: .45s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotateDownRight {
  animation-duration: .25s;
  animation-fill-mode: both;
  animation-name: rotateDownRight;
}

@keyframes rotateDownRight {
  100% {
    transform: rotate(-90deg);
  }
}

.rotateRightDown {
  animation-duration: .25s;
  animation-fill-mode: both;
  animation-name: rotateRightDown;
}

@keyframes rotateRightDown {
  0% {
    transform: rotate(-90deg);
  }
}

.fadeOutDown {
  animation-duration: .45s;
  animation-fill-mode: both;
  animation-name: fadeOutDown;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}



.hostelGrid {
  // background-color: $indigo3;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
}


.hostel-card-bg{
  margin: 3rem 1rem 2rem 1rem;
  background-color:$indigo-content;
  width:95%;
  height:80%;
  border-radius:10px;
  z-index: 3;
  text-align: center;
  .card-subtitle{
    position: absolute;
    margin-top: 2rem;
    color:$indigo1;
    z-index: 3;
    margin-left: 40%;
    font-weight: 900;
    font-size:1rem;
  }
  p{
    color:$indigo1;
    font-family: 'Cereal';
    // position: absolute;
    margin-top:3rem;
    padding:0.5rem;
    z-index: 3;
    // margin-left:0rem;
    width: 80%;
    height: 50%;
  }
  
  

}

.hostel-card-title{
  // display: inline-block;
  position:absolute;
  z-index: 4;
  background-color: $pblue;
  color: $indigo-content;
  border-radius:10px;
  margin-top: 1rem;
  margin-left: 20%;
  padding-left: 2rem;
  padding-right: 2rem;
  h1
  {
    color: $indigo3;
    font-size:1.2rem;
    font-weight:900;
    font-family: 'Cereal';
  }
}

.hostel-card-bg{
  box-sizing: border-box;
  display: grid ;
  grid-template-columns:  50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 20px;
  .left1{
    margin-top: 3rem;
    padding:1rem;
    grid-column-start: 1;
    grid-row-start:1;
    img{
      display: flex;
      width: 100%;
      max-width: 150px;
      height: auto;
      border-radius: 10px;
    }
  }
  .right{
    grid-column-start: 2;
    grid-row-start:1;
    text-align: center;
  font-family: 'Cereal';
  }
  .left2{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start:2;
    
  }
}





.left2{
  // background-color: $blue;
  height: 100%;
  margin-top: 4rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-family: 'Cereal';
  .learn{
    font-family: 'Cereal';
    min-width:60%;
    background-color:$green;
    padding-left:0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    color: $white;
    border-radius: 7px;
    border: none;
    z-index: 6;
  }
  .map-link{
    font-family: 'Cereal';
    min-width:60%;
    font-size:auto;
    background-color:$cherry;
    padding-left:0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    color: $white;
    border-radius: 7px;
    border: none;
    z-index: 6;
  }
 
}

.exploreGrid{
  margin: 10px;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  background-color: $indigo-content;
  // padding: 1rem;
}

.left-e{
  // background-color: $green;
  .card-img{
    height:80%;
    width:80%;
    margin-left: 0.5rem;
    margin-top:1rem;
    border-radius: 10px;
    
  }
}

.right-e{
  margin-right: 1rem;
  // background-color: $red;
  h1{
    font-family: 'Cereal';
    font-size: 1.5rem;
    color: $indigo1;
    margin-right: 1rem;

  }
  p{
    font-family: 'Cereal';
    color: $indigo1;
    font-weight:400;
    width:95%;
    padding-bottom: 1rem;
    margin-right: 1rem;
  }
}

.links-e{
  text-align: center;
  padding: 2rem;
  max-width: 80%;
  line-height:1.5;
  .si{
    display: inline-block;
  }
}


.box{
  box-sizing: border-box;
  display: grid ;
  grid-template-columns:  50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 20px;
  .left-e{
    grid-column-start: 1;
    grid-row-start:1;
    img{
      width: 100%;
      max-width: 160px;
      height: auto;
    }
  }
  .right-e{
    grid-column-start: 2;
    grid-row-start:1;
  }
  .links-e{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start:2;
    
  }
}



.c-btn:hover,
.c-btn:focus {
  cursor: pointer;
  background-color: red;
  color: #fff;
}
.c-btn-group {
  line-height:1rem;
  white-space: nowrap;
  margin:0.25rem;
  font-family: 'Cereal';
  margin-top:-4rem;
  display: inline-flex;
  overflow: hidden;
  border-radius: 10px;
  .learn-e{
    span{
      display:inline;
    }
    display: flex;
    flex-direction: row;
    font-size:1rem;
    justify-content: center;
    padding:0.25rem;
    background-color: $green;
    color: $white;
    font-family: 'Cereal';
  }
  .fb{
    background-color:$blue;
    color: white;
    padding: 0.25rem;
    padding-bottom: 0;
  }  
  .insta{
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
    padding: 0.25rem;
    padding-bottom: 0;
  }
  .web{
    background-color: $teal;
    color: white;
    padding: 0.25rem;
    padding-bottom: 0;
  }
  .git{
    background-color: #000000;
    color: white;
    padding: 0.25rem;
    padding-bottom: 0;
  }
  .fd{
    background-color:$red;
    color: white;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .map{
    background-color: $pblue;
    color: white;
    padding: 0.25rem;
    padding-bottom: 0;
  }
  .ph{
    background-color: $orange;
    color: white;
    padding: 0.25rem;
    padding-bottom: 0;
  }
}
.c-btn-group > .c-btn {
  border-radius: 0;
  border: none;
}
.c-btn-group > .c-btn:last-child {
  border-right: none;
}


.campus-card{
  width: 100%;
  background-color:$indigo-content;
  font-family: 'Cereal';
  color: $indigo1;
  border-radius: 10px;
  .campus-card-heading{
    font-weight:900;
    font-size: 1.5rem;
    padding-bottom:0.5rem;
  }
  small{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
    width: 90%;
  }
  .campus-img{
    width: 85%;
    max-width: 260px;
    height: auto;
    border-radius: 10px;
    margin:1rem;
  }
}




  


